<a href="https://colab.research.google.com/github/Nataliahfk/Python_Data_Science/blob/main/Ejercicio_3_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 - Crea un código para imprimir la suma de los elementos de cada una de las listas contenidas en la siguiente lista:

In [1]:
lista_de_listas = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]

suma_listas = []

for lista in lista_de_listas:
    suma = sum(lista)
    suma_listas.append(suma)

print(suma_listas)

[24, 10, 16]

In [9]:
lista_de_listas = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]
for lista in lista_de_listas:
    print(sum(lista))

24
10
16

2 - Crea un código para generar una lista que almacene el tercer elemento de cada tupla contenida en la siguiente lista de tuplas:

In [13]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

nombre, estatura, peso = zip(*lista_de_tuplas)

nombre = list(nombre)
estatura = list(estatura)
peso = list(peso)

print(peso)

[81, 67, 83]

In [10]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
lista = []
for tupla in lista_de_tuplas:
    lista.append(tupla[2])
print(lista)

[81, 67, 83]

3 - A partir de la lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crea un código para generar una lista de tuplas en la que cada tupla tenga el primer elemento como la posición del nombre en la lista original y el segundo elemento siendo el propio nombre.

In [23]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
lista_nueva = []
for i in range(len(lista)):
  lista_nueva.append((i, lista[i]))

lista_nueva

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

4 - Crea una lista usando la comprensión de listas (list comprehension) que almacene solo el valor numérico de cada tupla en caso de que el primer elemento sea 'Apartamento', a partir de la siguiente lista de tuplas:

In [25]:
alquiler = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
lista = [alq[1] for alq in alquiler if alq[0] == 'Apartamento']
lista

[1700, 1400, 1900]

5 - Crea un diccionario usando la comprensión de diccionarios (dict comprehension) en el que las claves estén en la lista meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] y los valores estén en gasto = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].

In [29]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
gastos = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]
diccionario = {meses[i]: gastos[i] for i in range(len(meses))}

diccionario

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}