<a href="https://colab.research.google.com/github/Nataliahfk/Python_Data_Science/blob/main/Ejercicio_2_funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 - Escribe un código que lee la lista siguiente y realiza:

In [3]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
# 1. Leer el tamaño de la lista
# 2. Leer el valor máximo y mínimo
# 3. Calcular la suma de los valores de la lista
# 4. Mostrar un mensaje al final: La lista tiene `tamano` números, donde el mayor
# es `mayor` y el menor es `menor`. La suma de los valores es `suma`.

tamano_lista = len(lista)
maximo_lista = max(lista)
minimo_lista = min(lista)
sumar_lista = sum(lista)

print(f"La lista tiene {tamano_lista} números, donde el mayor es el {maximo_lista} y el menor es el {minimo_lista}. \nLa suma de los valores es {sumar_lista}.")

La lista tiene 17 números, donde el mayor es el 99 y el menor es el 11.
La suma de los valores es 743.

2 - Escribe una función que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario. Como ejemplo, para el número 7, la tabla de multiplicar se debe mostrar en el siguiente formato:

In [5]:
# Tabla del  7:
# 7 x 0 = 0
# 7 x 1 = 7
# [...]
# 7 x 10 = 70

def multiplicar(numero):
  print(f"Tabla del {numero}:\n")
  for i in range(11):
    print(f"{numero} x {i} = {numero*i}")

multiplicar(7)

Tabla del 7:

7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

3 - Crea una función que lea la siguiente lista y devuelva una nueva lista con los múltiplos de 3:

In [6]:
lista_num = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

In [7]:
def multiplos_3(lista):
  lista_nueva = []
  for num in lista_num:
    if num % 3 ==0:
      lista_nueva.append(num)
  return lista_nueva

multiplos_3(lista_num)

[24, 99]

4 - Crea una lista de los cuadrados de los números de la siguiente lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]. Recuerda utilizar las funciones lambda y map() para calcular el cuadrado de cada elemento de la lista.

In [8]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

lista_cuadrados= map(lambda x : pow(x,2), lista)
lista_cuadrados = list(lista_cuadrados)
print(lista_cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]